/* Animation dégradé de couleur Coeur */
.coeur {
   align-items: center;
    font-size: 30px;
    font-weight: 500;
    color: grey;
    cursor: pointer;
    position: absolute;
  }

  .coeur_plein {
    position: absolute;
    background: linear-gradient(to top right ,$secondary-color 0%,darken($secondary-color, 55%) 100%);
    pointer-events: none;
    font-size: 30px;
    transform: scale(0); 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
  }
  
  @keyframes anim_coeur{
    100% {
        transform: scale(1);
    }
  }
    .coeur:hover + .coeur_plein {
      animation: anim_coeur 500ms 500ms both;
  }
@keyframes appear_ref {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(-0px);
    opacity: 1;
  }
}


.reference:nth-child(2) {
  animation-delay: 0.0s;
}

.reference:nth-child(4) {
  animation-delay: 0.2s;
}

.reference:nth-child(5) {
  animation-delay: 0.4s;
}

.reference:nth-child(6) {
animation-delay: 0.6s;
}




@keyframes appear{
  0%{
      transform: scale(0);
  }
  100%{
      transform: scale(1);
  }
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}


