
#loader{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: white;
	animation: disapear 3s linear;
	animation-fill-mode: forwards;
}

div.container {
	
    display: flex;
	justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    animation: bounce 1.5s 0.5s linear 3;
	
}


#loader div > div {
	display: flex;
	margin: 2vw;
    width: 5vw;
	height: 5vw;
    opacity: .99;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	font-family:"Shrikhand" ;
	color: white;
}
.primaire {
	background-color: $primary-color;
	text-align: left;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.secondaire {
	background-color: $secondary-color;
	animation-delay: 0.1s;
	text-align: left;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;

}

.tertiaire {
	background-color: $tertiary-color;
	animation-delay: 0.2s;
	text-align: left;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bolder;

}

@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.6);
		filter: blur(3px);
	}
	75% {
		filter: blur(3px);
		transform: scale(1.4);
	}
}

@keyframes disapear {
	90%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		pointer-events: none;
	}
}