#logo{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  & > a{
    position: absolute;
    left: 20px;
    top: 15px;
  }
}
.RechercheResto {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    text-align: center;
    color:$font-color;
    border-top: 3px solid $search-color-border;
    padding-bottom: 10px;
}
.btn_Recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    width: 100%;
    background: $search-color;
    & > .fas{margin:10px;}
}
/* Gestion de la liste des Photos */

.Restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 25px 50px;
  }
  .Resto {
    display:flex;
    max-width: 100%;
    height: 230px;/* voir comment gerer en automatique avec fonction */
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 5px 20px 5px;
    box-shadow: 0 5px 16px #0000002e;
    /*transition largeur,hauteur, durée d'une seconde*/
  //  -webkit-transition: all 1s ease; /* Safari et Chrome*/
  //  -moz-transition: all 1s ease; /* Firefox */
  //  -ms-transition: all 1s ease; /* Internet Explorer 9*/ 
 //   -o-transition: all 1s ease; /* Opera */
  //  transition: all 1s ease;
    &__note {
        display:flex;
        padding-left: $carte-padding;
        padding-right: $carte-padding;
        justify-content: space-between;
        align-items: center;   
    }   
  }
  .Resto_Description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 10px;
  }

.nom {
      font-size: 18px;
      font-weight: 700;
  }
.lieu {
      font-size: 15px;
  }
  .Anim_coeur{
    position: relative;
    bottom:100%;
    left: 85%;
  }
  
  .Anim_coeur_page{
    position: absolute;
    right:10%;
    bottom: 99%;
  }
  .part_commander{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding: 40px;
  }
  .Resto img {
    background-color: white;
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: 0% 60%;
   // transition-duration: 0.1s;
    cursor: pointer;
    margin-top: -15px;
  }
  .img_carte{
    width: 100%;
    object-fit: cover;
    object-position: 0% 60%;
    height: 285px;
    z-index: -1;
  }

.fonctionnement {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    width: auto;
    flex-wrap: wrap;
    background-color: white;  
    .btn{
      width: 100%;
      
    }
}

.fonction {
  display: flex;
  align-items:center;
  cursor: pointer;
  width: 100%;
  height: 70px;
  font-size: 18px;
  background-color: $background_color;
  box-shadow: 5px 5px 5px #c4c0c0;
  border-radius: 20px;
  margin: 15px 0px 15px 0px;
  
  & > .fc_circle {
      display: flex;
      background-color: $primary_color;
      justify-content: center;
      align-items:center ;        
      margin-left: -15px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      color: white;
  }
  & > .icon{
      text-align: center;
      width:50px;
      color: grey;
  }
  & > .icon_violet{
    color:$primary_color;
    text-align: center;
    width:50px;}
}
 .fonction_clair
  {
    //background-color : lime;
    background-color: lighten($primary_color,32%);
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  margin: 25px 0 50px;
}
.Entree, .Plat, .Dessert{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  overflow: hidden;
  margin-bottom: 15px;
  background-color:$background-color;
}

.reference{
  
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
  width: 90%;
  height: 78%;
  overflow: hidden;
  margin: 5px 5px 15px 20px;
  background-color: white;
  box-shadow: 2px 2px 5px grey;
  animation: appear_ref 1s ease 0ms 1 normal both;
  & > .reference_desc {
    display: flex;
    flex-direction: column;
    overflow  : hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    & h3,h4{
      overflow  : hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  & > .reference_prix{
    font-weight: 700;
    margin: 0 10px 0 0px;
   // padding-right: 80px;
    margin-top: 30px;
    transition: padding-right 300ms linear;
  }
}

.check{
  color: white;
  font-size: 25px;
  opacity: 0;
  transform: rotate(0deg);
  transition: all 0.7s ease-in-out;
  //animation: rotate-center 0.6s linear both;
}
.Anim_reference{
display: flex;
position:absolute;
align-items: center;
justify-content: center;
height: 70px;
width: 70px;
opacity: 1;
background-color: $tertiary-color;
//25 px -70px
right: -70px;
border-radius: 0 10px 10px 0;
transition: all 300ms ease-in-out;
}
.reference:hover {
cursor: pointer;
}

.reference:hover .reference_prix{
  padding-right: 80px;
    margin-top: 30px;
    //transition: padding-right 300ms linear;

}
.reference:hover .check{
  opacity: 1;
  transform: rotate(360deg) ;
  transition: transform 300ms linear;
}

.reference:hover .Anim_reference{
  opacity: 1;
  right: 0px;
  //animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
  transition: transform 300ms linear,right 300ms linear;
}


#Carte{
  display: flex;
  flex-direction: column;
  position:relative;
  border-radius: 25px 25px 0 0;
  margin-top: -30px;
  background-color:$background-color;
  padding: 20px;
}
.New{
  display: flex;
  overflow: hidden;
}

/*  Gestion Responsive */
/*  breaking-points :

mobile < 768 px
Tablette 768 px à 991 px
Ordinateur 992 px à 1199 px

*/

@media screen and (max-width: 767px) {
  
  .footer{
    & > .titre_footer{
        font-size: 20px;
    }    
  }
  }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .all_resto{
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    grid-template-rows:50% 50% ;
  }
  .Etiquette_new  {
        left: 34%;
        right: 0%;
      }
  
  .btn_fonctionnement{
    padding: 20px;
  }
  .all_btn_fonction{
    display:flex;
    flex-direction: row;
    width: 100%;
  }
  .Menu {
    flex-direction: row;
      justify-content: space-between;
      width: 100%;
     & > .part_commander{
        position: absolute;
        top: 81%;
      }
  }
  .footer{
    align-items: center;
    & > .titre_footer{
        font-size: 30px;
    }    
  }
  }
  @media screen and (min-width: 991px) {
    .Etiquette_new  {
      left: 39%;
      right: 0%;
    }
  }

