.RechercheResto {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    text-align: center;
    color:$font-color;
    border-top: 3px solid $search-color-border;
    padding-bottom: 10px;
}
.btn_Recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    width: 100%;
    background: $search-color;
    & > .fas{margin:10px;}
}
/* Gestion de la liste des Photos */

.Restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 25px 50px;
  }
  .Resto {
    display:flex;
    max-width: 100%;
    height: 255px;/* voir comment gerer en automatique avec fonction */
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 5px 20px 5px;
    box-shadow: 0 5px 16px #0000002e;
    /*transition largeur,hauteur, durée d'une seconde*/
    -webkit-transition: all 1s ease; /* Safari et Chrome*/
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9*/ 
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    &__note {
        display:flex;
        padding-left: $carte-padding;
        padding-right: $carte-padding;
        justify-content: space-between;
        align-items: center;   
    }
    
  }
  .Resto_Description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

.nom {
      font-size: 18px;
      font-weight: 700;
  }
.lieu {
      font-size: 15px;
  }
  .Anim_coeur{
    position: relative;
    bottom:30%;
    left: 85%;
  }
  
  .Resto:hover{
    -webkit-transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* Internet Explorer 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
  }
  .Resto img {
    background-color: white;
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: 0% 60%;
    transition-duration: 0.1s;
    cursor: pointer;
    margin-top: -15px;
    
  }

.fonctionnement {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: auto;
    flex-wrap: wrap;
    background-color: white;  
    .btn{
      width: 100%;
      
    }
}

.fonction {
  display: flex;
  align-items:center;
  cursor: pointer;
  width: 100%;
  height: 65px;
  font-size: 20px;
  background-color: $background_color;
  box-shadow: 5px 5px 5px grey;
  border-radius: 30px;
  margin: 15px 0px 15px 0px;

  & > .fc_circle {
      display: flex;
      background-color: $primary_color;
      justify-content: center;
      align-items:center ;        
      margin-left: -15px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      color: white;
  }
  & > .icon{
      text-align: center;
      width:50px;
      color: grey;
  }
  & > .icon_violet{
    color:$primary_color;
    text-align: center;
    width:50px;}
}
.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0 50px;
}
.Entree{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  overflow: hidden;
  margin-bottom: 15px;
  background-color:$background-color;
}

.reference{
  border-radius: 20px;
  display: flex;
  width: 100%;
  height: 80%;
  overflow: hidden;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 2px 2px 5px grey;
}