@charset "UTF-8";
/*importation des fichiers pour generer le fichier style.css*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
  color: black;
}

h1 {
  font-weight: 600;
  margin: 0 0 20px 10px;
  font-size: 2.3rem;
  color: black;
}

h2 {
  font-weight: 400;
  margin: 0 0 20px 10px;
  font-size: 2rem;
  color: black;
  color: #737373;
}

.H2_souligner {
  position: relative;
  top: -20px;
  margin-left: 10px;
  width: 55px;
  height: 4px;
  background-color: #99E2D0;
}

h3 {
  font-weight: 600;
  font-size: 19px;
  margin-left: 15px;
}

h4 {
  font-weight: 400;
  font-size: 15px;
  margin-left: 15px;
  color: #333333;
}

html {
  font-size: 65%;
  color: black;
}

body {
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
  background-color: #F0F0F0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
}

p {
  padding: 10px;
}

.titre_page {
  position: relative;
  width: 100%;
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 15px 0px 15px;
}

.titre_logo {
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  font-family: "Shrikhand";
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn_explorer, .btn_commander {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 45px;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  transition: box-shadow 150ms linear, transform 150ms linear;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.btn_explorer:hover, .btn_commander:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.Etiquette_new {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  right: 10px;
  margin: 10px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
  animation: disapear 3s linear;
  animation-fill-mode: forwards;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  animation: bounce 1.5s 0.5s linear 3;
}

#loader div > div {
  display: flex;
  margin: 2vw;
  width: 7vw;
  height: 7vw;
  opacity: 0.99;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand";
  font-size: 15px;
  color: white;
}

.primaire {
  background-color: #9356DC;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.secondaire {
  background-color: #FF79DA;
  animation-delay: 0.1s;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.tertiaire {
  background-color: #99E2D0;
  animation-delay: 0.2s;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
}
@keyframes disapear {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
header {
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50px;
  padding-top: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
header #logo {
  width: auto;
  height: 30px;
}

#logo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
#logo > a {
  position: absolute;
  left: 20px;
  top: 15px;
}

.RechercheResto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  text-align: center;
  color: black;
  border-top: 3px solid #D0D0D0;
  padding-bottom: 10px;
}

.Resto a {
  width: 100%;
}

.btn_Recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  background: #E0E0E0;
}
.btn_Recherche > .fas {
  margin: 10px;
}

/* Gestion de la liste des Photos */
.Restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 25px 50px;
}

.Resto {
  display: flex;
  max-width: 100%;
  height: 230px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 5px 20px 5px;
  box-shadow: 0 5px 16px #0000002e;
}

.Resto_Description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 10px;
}

.nom {
  font-size: 18px;
  font-weight: 700;
}

.lieu {
  font-size: 15px;
}

.Anim_coeur {
  position: absolute;
  top: 10px;
  right: 50px;
}

.Anim_coeur_page {
  position: absolute;
  top: 10px;
  right: 45px;
}

.part_commander {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.Resto img {
  background-color: white;
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 0% 60%;
  cursor: pointer;
  margin-top: -15px;
}

.img_carte {
  width: 100%;
  object-fit: cover;
  object-position: 0% 60%;
  height: 285px;
  z-index: -1;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  width: auto;
  flex-wrap: wrap;
  background-color: white;
}
.fonctionnement .btn {
  width: 100%;
}

.fonction {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 70px;
  font-size: 18px;
  background-color: #F0F0F0;
  box-shadow: 5px 5px 5px #c4c0c0;
  border-radius: 20px;
  margin: 15px 0px 15px 0px;
}
.fonction > .fc_circle {
  display: flex;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
}
.fonction > .icon {
  text-align: center;
  width: 50px;
  color: grey;
}
.fonction > .icon_violet {
  color: #9356DC;
  text-align: center;
  width: 50px;
}

.fonction_clair {
  background-color: #e9ddf8;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 0 10px;
}

.Entree, .Plat, .Dessert {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  overflow: hidden;
  margin-bottom: 15px;
  background-color: #F0F0F0;
}

.reference {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
  width: 97%;
  height: 78%;
  overflow: hidden;
  margin: 5px 5px 15px 5px;
  background-color: white;
  box-shadow: 2px 2px 5px grey;
  animation: appear_ref 1s ease 0ms 1 normal both;
}
.reference > .reference_desc {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.reference > .reference_desc h3, .reference > .reference_desc h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.reference > .reference_prix {
  font-weight: 700;
  font-size: 18px;
  margin: 0 10px 0 0px;
  margin-top: 30px;
  transition: padding-right 300ms linear;
}

.check {
  color: white;
  font-size: 25px;
  opacity: 0;
  transform: rotate(0deg);
  transition: all 0.7s ease-in-out;
}

.Anim_reference {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  opacity: 1;
  background-color: #99E2D0;
  right: -60px;
  border-radius: 0 10px 10px 0;
  transition: all 300ms ease-in-out;
}

.reference:hover {
  cursor: pointer;
}

.reference:hover .reference_prix {
  padding-right: 80px;
  margin-top: 30px;
}

.reference:hover .check {
  opacity: 1;
  transform: rotate(360deg);
  transition: transform 300ms linear;
}

.reference:hover .Anim_reference {
  opacity: 1;
  right: 0px;
  transition: transform 300ms linear, right 300ms linear;
}

#Carte {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 25px 25px 0 0;
  margin-top: -30px;
  background-color: #F0F0F0;
  padding: 5px;
}

.New {
  display: flex;
  overflow: hidden;
  position: relative;
}

/*  Gestion Responsive */
/*  breaking-points :

mobile < 768 px
Tablette 768 px à 991 px
Ordinateur 992 px à 1199 px

*/
@media screen and (max-width: 767px) {
  .footer > .titre_footer {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .all_resto {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .all_btn_fonction {
    margin: 0 auto;
  }

  .fonctionnement .btn_fonctionnement {
    width: 300px;
  }

  .Menu {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .Menu > .part_commander {
    position: absolute;
    top: 81%;
  }

  .footer {
    align-items: center;
  }
  .footer > .titre_footer {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .all_btn_fonction {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .fonctionnement .btn_fonctionnement {
    padding: 20px;
    width: 100%;
  }
}
footer {
  width: 100%;
  background-color: #353535;
  color: white;
}
footer .footer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  font-size: 18px;
  padding: 10px 0 20px 20px;
}
footer .footer > .titre_footer {
  font-family: "Shrikhand";
  padding-bottom: 10px;
}
footer .footer li {
  font-size: 15px;
  list-style: none;
  cursor: pointer;
}
footer .footer li > a {
  color: white;
}
footer .footer i {
  width: 20px;
}

.img {
  width: 100%;
  object-fit: cover;
  object-position: 0% 60%;
}

.img_resto {
  height: 100%;
  margin-top: -15px;
}

.img_carte {
  height: 250px;
  z-index: -1;
}

/* Animation dégradé de couleur Coeur */
.coeur {
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  color: grey;
  cursor: pointer;
  position: absolute;
}

.coeur_plein {
  position: absolute;
  background: linear-gradient(to top right, #FF79DA 0%, #600045 100%);
  pointer-events: none;
  font-size: 30px;
  transform: scale(0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes anim_coeur {
  100% {
    transform: scale(1);
  }
}
.coeur:hover + .coeur_plein {
  animation: anim_coeur 500ms 500ms both;
}

@keyframes appear_ref {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.reference:nth-child(2) {
  animation-delay: 0s;
}

.reference:nth-child(4) {
  animation-delay: 0.2s;
}

.reference:nth-child(5) {
  animation-delay: 0.4s;
}

.reference:nth-child(6) {
  animation-delay: 0.6s;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

/*# sourceMappingURL=style.css.map */
