@charset "UTF-8";
/*importation des fichiers pour generer le fichier style.css*/
/*
$hue: hue($primary-color);
$sat: 100%;
$light: 93%;
$pastel_purple: hsl($hue,$sat,$light);
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

h4 {
  font-weight: 400;
  font-size: 20px;
}

h2 {
  padding: 0;
  margin: 0;
}

html {
  font-size: 65%;
  color: black;
}

body {
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
}

p {
  padding: 10px;
}

main {
  border-radius: 20px;
}

body {
  background-color: #F0F0F0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
}

.footer .titre_footer {
  font-family: "Shrikhand";
  font-weight: 800;
  font-size: 25px;
  font-style: italic;
}

h2 {
  font-weight: 600;
  margin: 0 0 20px 0;
  font-size: 2.3rem;
  color: black;
}

.btn_explorer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  transition: box-shadow 150ms linear, transform 150ms linear;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.btn_explorer:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  /*background: linear-gradient(to bottom right,lighten($secondary-color,5%),lighten($primary-color,5%));
  box-shadow: 0px 0px 10px 0px #3b2e30;*/
}

.btn_commander {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  transition: box-shadow 150ms linear, transform 150ms linear;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.btn_commander:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
}

header {
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50px;
  padding-top: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
header #logo {
  width: auto;
  height: 30px;
}

.RechercheResto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  text-align: center;
  color: black;
  border-top: 3px solid #D0D0D0;
  padding-bottom: 10px;
}

.btn_Recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  background: #E0E0E0;
}
.btn_Recherche > .fas {
  margin: 10px;
}

/* Gestion de la liste des Photos */
.Restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 25px 50px;
}

.Resto {
  display: flex;
  max-width: 100%;
  height: 255px;
  /* voir comment gerer en automatique avec fonction */
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 5px 20px 5px;
  box-shadow: 0 5px 16px #0000002e;
  /*transition largeur,hauteur, durée d'une seconde*/
  -webkit-transition: all 1s ease;
  /* Safari et Chrome*/
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* Internet Explorer 9*/
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}
.Resto__note {
  display: flex;
  padding-left: 15px 0px 25px 0px;
  padding-right: 15px 0px 25px 0px;
  justify-content: space-between;
  align-items: center;
}

.Resto_Description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.nom {
  font-size: 18px;
  font-weight: 700;
}

.lieu {
  font-size: 15px;
}

.Anim_coeur {
  position: relative;
  bottom: 30%;
  left: 85%;
}

.Resto:hover {
  -webkit-transform: scale(1.05);
  /* Safari et Chrome */
  -moz-transform: scale(1.05);
  /* Firefox */
  -ms-transform: scale(1.05);
  /* Internet Explorer 9 */
  -o-transform: scale(1.05);
  /* Opera */
  transform: scale(1.05);
}

.Resto img {
  background-color: white;
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 0% 60%;
  transition-duration: 0.1s;
  cursor: pointer;
  margin-top: -15px;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: auto;
  flex-wrap: wrap;
  background-color: white;
}
.fonctionnement .btn {
  width: 100%;
}

.fonction {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 65px;
  font-size: 20px;
  background-color: #F0F0F0;
  box-shadow: 5px 5px 5px grey;
  border-radius: 30px;
  margin: 15px 0px 15px 0px;
}
.fonction > .fc_circle {
  display: flex;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
}
.fonction > .icon {
  text-align: center;
  width: 50px;
  color: grey;
}
.fonction > .icon_violet {
  color: #9356DC;
  text-align: center;
  width: 50px;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0 50px;
}

.Entree {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  overflow: hidden;
  margin-bottom: 15px;
  background-color: #F0F0F0;
}

.reference {
  border-radius: 20px;
  display: flex;
  width: 100%;
  height: 80%;
  overflow: hidden;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 2px 2px 5px grey;
}

footer {
  width: 100%;
  background-color: #353535;
  color: white;
}
footer .footer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  font-size: 18px;
  padding: 10px 0 20px 20px;
}
footer .footer li {
  font-size: 15px;
  list-style: none;
  cursor: pointer;
}
footer .footer li > a {
  color: white;
}
footer .footer i {
  width: 20px;
}

.img {
  width: 100%;
  object-fit: cover;
  object-position: 0% 60%;
}

.img_resto {
  height: 100%;
  margin-top: -15px;
}

.img_carte {
  height: 250px;
  z-index: -1;
}

/* Animation dégradé de couleur Coeur */
.coeur {
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  color: grey;
  cursor: pointer;
}

.coeur_plein {
  display: flex;
  position: relative;
  background: linear-gradient(to top right, #FF79DA 0%, #600045 100%);
  pointer-events: none;
  font-size: 30px;
  top: -20px;
  visibility: hidden;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes anim_coeur {
  0% {
    visibility: inherit;
  }
  100% {
    transform: translate(0px, -20px);
    visibility: visible;
  }
}
.coeur:hover + .coeur_plein {
  animation: anim_coeur 1s both;
}

/*# sourceMappingURL=style.css.map */
