$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$font-color: black;
$footer-color: #353535;
$background-color: #F0F0F0;
$search-color: #E0E0E0;
$search-color-border: #D0D0D0;
$carte-color-background:white;
$carte-border-radius:10px;
$btn-height: 45px;

