$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$font-color: black;
$footer-color: #353535;
$background-color: #F0F0F0;
$search-color: #E0E0E0;
$search-color-border: #D0D0D0;
$carte-color-background:white;
$carte-border-radius:10px;
$carte-boxshadow: 10px 10px 10px grey;
$carte-padding:15px 0px 25px 0px;
$btn-height: 50px;

$font_size_restaurant_name : 18px;
$font_size_restaurant_location : $font_size_restaurant_name - 3;


/*
$hue: hue($primary-color);
$sat: 100%;
$light: 93%;
$pastel_purple: hsl($hue,$sat,$light);
*/




